/* 
body{

  width: 100%;
  height: 100%;
  background-image: url('../assets/images/backgroound.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


.container-event {
  position: relative;
  overflow: hidden;
}

.container{
  width: 1600px;
  margin: 0 auto;
  float: none;
}

@media screen and (max-width: 1600px) {
  .container{
    width: 85%;
    margin: 0 auto;
    float: none;
  }
}

h1 {
  font-size: xxx-large;
  font-weight: 700;
}


.some-container {
  justify-content: flex-start;
} 

.venue-container-main{
  background-color:#145e9744;
    width: 1200px;
    margin: auto;
}
.container-head{
  background-color: black;
}
.event-main{
  width: 900px;
  margin: auto;
  margin-top: 30px;
}

.venue-text {
  font-size: 16px;
  color: #333; 
}
.event-image {
  
  width: 336px;
  margin-left: 18px;
  height: 100%;
  margin-left: auto;
  border-radius: 35px;
  margin-top: 0px;
  object-fit: fill;
}
.highlighted-text {
  color: #ffac00;
  margin: 13px auto;
}

.event-img{
  width: 160px;
  height: 100px;
  
}

#agreeTerms {
  margin-right: 10px;
}

.venue-wrapper {
  background-color: #1a202c;
  font-family: 'Poppins', sans-serif;

}

.event-list-item {
  background-color: #1a202c;
  border: 1px solid #4a5568;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: start;
  margin-left: 0;
  padding: 2.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
}

.event-list-item:hover {
  background-color: #2d3748;
  border-color: #2d3748;
}

.event-list-item img {
  flex: 1;
  height: 151px;
  width: 21%;
  object-fit: cover;
}

.event-list-item .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.event-list-item .title {
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
}

.event-list-item .event-id {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.event-list-item .album-id {
  margin-top: 3.5px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.table-service{
  width: 467px;
  background-color:#c1bbbb;
  margin-left: 238px;
  border-radius: 30px;
  box-shadow: 20px 0px 0px #000; 
}
.loaction-text{
  color: white;  
  font-size: 24px;
  font-weight: 700;
}
.map{
  width: 431px;
    outline-style: none;
    border-radius: 30px;
}
.text-location{
  margin-top: 40px;
    margin-bottom: 16px;

}
.increment-button {
  margin-left: 5px;
}
 
.increment-button,
.decrement-button {
  background-color: green;
  color: white;
}
.display-contents {
  display: contents;
}
.container-head{
  background-color: black;
}

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  height: 270px!important;
  width: 100%!important;
  border-radius: 5px!important;
  position: relative!important;
  outline-style: none;
}

#date, #tableselection {
  width: 100%;
  margin-right: 40px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.form-title.sm {
  font-size: x-large;
  margin-bottom: 8px;
  margin-top: 20px;
  color: white;
}
input, optgroup, select, textarea {

  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  width: 100%;
  font-weight: inherit;
  border: 2px solid white !important;
  line-height: inherit;
  color: currentColor;
  padding: 0;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  
  
}
.top_mrg-booking{
  padding: 5px !important;
}
#date {
  width: 100%;
  margin-right: 40px;
}

#tableselection {
  width: 100%;
  margin-left: 30px;
}
.container.mx-auto {
  margin-left: 40px;
  width: -webkit-fill-available;
}

button.w-full.bg-blue.hover\:bg-blue-dark.text-white.font-bold.py-2.px-4.rounded {
  background-color: blue;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
}

#totalGuests {
  padding: 10px;
  width: 98%;
  border-radius: 10px;
  margin-left: 0px;
}
textarea#bookingNote {
  width: 98%;
  margin-top: 5px;
  margin-left: 0px;
  border-radius: 5px;
}

input#dob {
  width: 30%;
}

input#agreeTerms {
  width: unset;
}
.custom-timepicker .react-time-picker-dropdown-icon {
  fill: grey;
}

.custom-timepicker .react-time-picker-dropdown-clock {
  color: grey;
}

.custom-timepicker .react-time-picker-dropdown-clock-selected {
color: rgb(181, 20, 20); 
}

input.tp_inputBox{
  color: white !important; 
}

.custom-timepicker-wrapper {
  position: relative;
}


.custom-timepicker .react-time-picker-dropdown-icon {
  fill: grey; 
}

.custom-timepicker .react-time-picker-dropdown-clock {
  color: grey;
}

.custom-timepicker .react-time-picker-dropdown-clock-selected {
color: rgb(181, 20, 20);
}

input.tp_inputBox{
  color: white !important; 
}

.custom-timepicker-wrapper {
  position: relative;
}






  span.rc-time-picker.input {
    width: 100%;
    
}

.custom-timepicker .react-time-picker__inputGroup__hour {
  width: 80px !important; 
}


.custom-timepicker .react-time-picker__inputGroup__minute {
  width: 80px !important;
}
.custom-timepicker .rc-time-picker-panel-input-wrap {
  border: none;
}
.text-darkgray {
    color: white;
    background: transparent;
    border-color: darkgray;
}

.custom-timepicker .rc-time-picker-input {
  
  color: white;
  border: none;
  height:40px;

  background-color: transparent;
  border: 2px solid #a29d9d;
  margin-top: 0;
  border-radius: 0;
 
}

.custom-timepicker .rc-time-picker-clear {
  color: white;
}
input#dob {
  width: 48%;
  display: block;
  color: darkgray;
}
.custom-input {
  background-color: transparent;
  border: 2px solid #a29d9d;
}
.custom-guest {
  background-color: transparent;
  border: 2px solid #a29d9d;

}
button.w-full.bg-blue.hover\:bg-blue-dark.text-white.font-bold.py-2.px-4.rounded {
  
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;

}

.evet_block .mt-2{
  color:#fff;
}
.evet_block {
  margin-bottom: 50px;
}
.info {
  text-align: center;
  color: #fff;
}
.img_event{
  width: 300px;
}
.event_data{
  display: contents;
}
.event-card{
  background-color: azure;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.event-card img{
  margin-bottom: 20px;
  width: 320px;
  object-fit: cover;
  height: 300px;
}
.month_text {
  color: #e38519;
  width: 100%;
  float: left;
  text-align: center;
}
.highlight-input {
  border: 2px solid darkgrey;
  background-color: blue!important;
  
  
}


.font-semibold {
  font-weight: 600;
  text-align: center;
}



.event-card:hover {
  box-shadow: 5px 5px 0px #f6b301;
}
.event-card p {
  font-weight: 800;
}

.text_right{
  text-align: end;
  margin-left: 190px;
}
.event-details{
  display: inline-flex;}
  .main_ttile {
    margin-top: 30px;
}


.main_ttile h1 {
    text-align: center;
    color: #fff;
    
  }
.main_ttile h2 {
    color: #fff;
}

.leaflet-container {
  z-index: 0; 
}


.text-date{
  background: transparent;
 
    border-color: darkgrey;
    margin: 6px 25px;
}
.upcoming{
  text-align: center;
  color: white;

}
.view-all{
  
  background-color: blue !important;
  border-radius: 20px;
}
.top_mrg_no_of_seats{
  margin-top: 30px !important;
}

.top_mrg {
  margin-top: 10px;
}
select option {
 color: #000;
 background: transparent;
 
}
select option[value="1"] {
  color: #000;
}
.date-birth{
  width: 49% !important;
}
.react-datepicker__triangle {
  display: none !important; 
}


.top_frm_bar input, .top_frm_bar button {
  background: transparent;
  color: #fff;
  border-radius: 0;
  margin-top: 0;
}
.top_frm_bar::-webkit-input-placeholder { 
  color: #fff;
}
.top_frm_bar::-moz-placeholder { 
  color: #fff;
}
.top_frm_bar:-ms-input-placeholder { 
  color: #fff;
}
.top_frm_bar:-moz-placeholder { 
  color: #fff;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.event-main input {
  padding: 5px;
  width: 100%;
}


.react-datepicker-wrapper {
  width: 100%;
}
.text-option{
  color: darkgray;
}
.cursor-pointer{
  color: white;
  border: 2px solid #ccc; 
  padding: 6px;
}
.map-container {
  height: 100vh; 
  width: 100vw; 
}
.event-main-upcoming{
  width: 850px !important;
  margin: auto;
    margin-top: 30px;
}
.booking-notes-padding{
  padding: 5px !important;
}
.card-image{
  border-bottom: 2px solid white;
}
.table-section{
  border: 1px solid white;
}
.upcoming-img{
  border: 6px solid white;
}  */

/* / EVENTS PAGE CSS / */
/* body{

  width: 100%;
  height: 100%;
  background-image: url('../assets/images/backgroound.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
} */
/*
* Template Name: UntreeStore
* Template Author: Untree.co
* Author URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #000000;
  /* background-image: url(../Images/bgs.jpg); */
  background-image: url('../assets/images/bgs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



#evnet_page_main{
  margin: 10% 0;
}


#evnet_page_main h1{
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  font-size: 55px;
  line-height: 1em;
  letter-spacing: 1.32px;
  margin-bottom: 20px;
  text-shadow: 0 0 15px #ff4e5b, 0 0 15px rgba(255,78,91,0.52);
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
  color: rebeccapurple;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #ffffff !important;
  border: 2px solid #fff;
}
.css-i4bv87-MuiSvgIcon-root{
  color: #718096 !important;
  margin-bottom: 8px;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  font: inherit;
  letter-spacing: inherit;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 0px !important;
  padding: 5.5px 14px !important;
  padding-right: 76px !important;
}

#evnet_page_main p{
  font-size: 14px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 80px;
}

.booking-date {
  color: #718096; /* You can adjust the color code as needed */
}

select:invalid,
select option[value=""] {
  color: #999999;
}

.events .event a{
  color: #fff;
  text-decoration: none;
}

.events .event {
  margin: 40px 0 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.events .event {
  margin: 40px 0 0;
  width: 100%;
  max-width: 100%;
}

.events .event tbody tr:hover {
  background-color: rgba(255, 44, 85, 0.82);
  border: 2px solid #fff;
}

.events .event thead tr {
  background-color: rgba(102,102,102,0.32);
  color: #ffffff;
}

.events .event thead tr td {
  border: none;
  padding: 20px 30px;
  vertical-align: middle;
}

.events .event tbody tr {
  background-color: rgba(102,102,102,0.32);
  color: #ffffff;
  transition: all .2s ease-in-out;
  border: 1px solid transparent;
}

.events .event thead tr.space {
  background-color: transparent;
  height: 15px;
}

.events .event tr.space td {
  padding: 0 !important;
  line-height: 0 !important;
  background: transparent !important;
  height: 0px !important;
  display: block !important;
}

.events .event tbody tr.space {
  background-color: transparent;
  height: 10px;
}

.events .event tr td {
  border: none;
  padding: 10px 30px;
  vertical-align: middle;
}

.events .event tbody tr td.event-ticket-link a {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 0px;
  font-size: 14px;
  color: #ffffff;
  border-color: #ffffff;
  background: #673AB7;
}

.events .event tbody tr td.event-ticket-link span.sold {
  display: inline-block;
  margin: 0;
  border: 1px solid #fff;
  background-color: #333333;
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
  width: 119px;
  letter-spacing: 0.1em;
  text-align: center;
}

.event-mobile {
  display: none;
}
/* / Book Event Form / */

#evnet_booking {
  width: 100%;
  float: left;
  margin: 10% 0px;
}
select option {
  color: #000;
  background: transparent;
  
 }
 select option[value="1"] {
   color: #000;
 }
.view-all{
  width: 124px;
  /* background-color: #cf7526; */
  background-color: blue !important;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}
.current-event{
  width: 178px;
  /* background-color: #cf7526; */
  background-color: blue !important;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}
.convasdata{
  z-index: 0;
  width: 1200px !important;
}

.close-button {
  background-color: #fff;
  border: 1px solid #cfcece;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  font-size: 103px;
  padding: 5px 5px;
  position: absolute;
  right: 4px;
  top: 8px;
}
.expired{
  background-color: red !important;
  padding: 10px;
  border: 1px solid #fff;
}
/* .ReactModal__Overlay ReactModal__Overlay--after-open{
   z-index: 10 !important; 
} */
.ReactModal__Overlay{
   z-index: 10 !important; 
}
/* .custom-timepicker .rc-time-picker-input {
  
  border: none !important;
  background-color: transparent;
 
 
} */
.react-datepicker__triangle {
  display: none !important; 
}

.submit-btn-ticket{
  background-color: #0d6efd;
}
.booking-notes {
  color: #718096; /* You can adjust the color code as needed */
}

select:invalid,
select option[value="1"] {
  color: #999999;
}
/* ////////////////////////////// */

/* .custom-timepicker-wrapper {
  position: relative;
} */




/* .custom-timepicker {
  width: 300px;
}  */



/* .custom-timepicker .react-time-picker__inputGroup__hour {
  width: 80px !important; 
}


.custom-timepicker .react-time-picker__inputGroup__minute {
  width: 80px !important; 
}
.custom-timepicker .rc-time-picker-panel-input-wrap {
  border: none;
}

.custom-timepicker .rc-time-picker-input {
  background-color: transparent;
  color: white;
  border: none;
} */

/* .custom-timepicker .rc-time-picker-clear {
  color: white;
} */
/* Book Event Form */
/* #evnet_booking {
  width: 100%;
  float: left;
  margin: 10% 0px;
} */

.bg-color{
  background: #53535373;
  box-shadow: 0 0.5rem 1rem rgba(255, 44, 85, 0.17)!important;
}

.custom-input {
  background: transparent;
  border: none;
  /* Add any additional styles here */
}



select:invalid {
  color: green;
}


/* //////////////////////////////// */

@media screen and (max-width: 480px) {
  .events_box{
    display: none;
  }
  .event-mobile {
    position: relative;
    display: block;
  }
  .event-mobile ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  .event-mobile ul li {
    background-color: rgba(62, 62, 62, .6);
    margin-bottom: 30px;
    padding: 30px 0px;
  }
  .event-mobile ul .img-thumb {
    display: inline-block;
    margin-bottom: 10px;
  }
  .event-mobile ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  .event-mobile ul li p {
    margin-bottom: 0!important;
    font-weight: bold;
    font-size: 15px!important;
  }
  .img-thumb img{
    width: 100%;
  }
  .event-mobile ul li a.button-basic-1 {
    margin-top: 20px;
    display: inline-block;
    padding: 13px 30px;
    border-radius: 0px;
    border: 1px solid #fff;
    font-size: 15px;
    color: #ffffff;
    border-color: #ffffff;
    width: 220px;
  }
  /* .view-venue{
    margin-bottom: 10px;
  }
   */
   /* .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none !important;
    color: rebeccapurple;
  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    color: #fff!important;
    border: 2px solid #fff;
  }
  .css-i4bv87-MuiSvgIcon-root{
    color: #718096 !important;
  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    font: inherit;
    letter-spacing: inherit;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 0px !important;
    padding: 6.5px 14px !important;
    padding-right: 76px !important;
  }
   */
}